body {
    margin: 0;
    padding: 0;
    background-color: #122a5c;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    color: white;
}
.title {
}

h1, h2, p {
    margin: 0;
    color: #122a5c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listContainer {
    width: 500px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    outline: none;
}

ul {
    padding: 0;
    width: 100%;
}

ul li {
    display: block;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    margin: 16px 0 16px 0;
    padding: 24px;
    border-radius: 12px;
}

ul li h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

ul li p{
    font-size: 16px;
    font-weight: normal;
}

@media screen and (max-width: 600px) {
    
    
}