body {
    margin: 0;
    padding: 0;
    background-color: #122a5c;
}

h1 {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listContainer {
    width: 500px;
}

input {
    width: 100%;
    padding: 8px;
}

ul {
    padding: 0;
    width: 100%;
}

ul li {
    display: block;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,254,255,1) 100%);
    margin: 16px 0 16px 0;
    padding: 8px;
}

ul li .name{
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    
    
}